/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*root*/
:root {
    --primary-color: #212A31;
    --secondary-color: #d3d9d4;
    --tertiary-color: #748d92;
    --font-size: 1.8rem;
}

.first-card > img,
.second-card > img, 
.slide-img > img{
    height: 10rem;
}

/*Main grid*/
.cards-container {
    font-size: var(--font-size);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "card-one card-two"
        "card-three card-three"
        "card-four card-four"
        ;
    gap: 3rem;
    margin: 1rem 1rem;
    
}

.cards-container > *,
.card-item > * {
   
    display: grid;
    gap: 1.5rem;
}

.first-card {
    grid-area: card-one;
    justify-items: start;
}

.second-card {
    display: grid;
    grid-area: card-two;
    padding: 1.5rem;
    gap: 2.5rem;
    place-content: center;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
}

.third-card {
    display: grid;
    grid-template-columns: 1fr 1.65fr;
    grid-area: card-three;
    align-items: stretch;
}

.fourth-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: card-four;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    text-align: center;
    padding: 3rem 8rem;
}

.card-item-element {
    grid-template-columns: 1fr 3fr;
    place-content: center;

}

.balloon-comment {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    place-content: center;
    padding-inline: 1.5rem;
    border-radius: 30px;
}

.first-card .profile-card {
    padding-left: 1rem;
}

.profile-card > * {
    place-content: center;
}

.profile-pic {
    height: 6rem;
    border-radius: 50px;
    
}

.profile-position {
    font-size: 1.3rem;
}


/* Third card */
.third-card-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.third-card-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background-color: var(--primary-color);
    color: #d3d9d4;
    border-radius: 30px;
}

.rating {
    display: flex;

}

.fill {
    background: gold;
}

.star {
    width: 2rem;
    height: 2rem;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%,
        79% 91%, 50% 70%, 21% 91%, 32% 57%,
        2% 35%, 39% 35%
    );
}

.profile-name {
    font-size: 2.8rem;
}

.profile-position {
    color: var(--tertiary-color);
}

/* Fourth card */
.slide {
    display: flex;
    gap: 4rem;
    
}

.slide-img {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.slide-img > img {
    height: 6rem;
    border-radius: 50%;
}

.slide-img > img:first-child, 
.slide-img > img:last-child{
    height: 4rem;
    filter: blur(2px) brightness(1.1) opacity(0.8);
}


.slide > button {
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
}

.slide > button:hover{
    font-weight: bold;
    font-size: 1.7rem;
}